<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convert fanfics from fanfiction.net to .epub files easily and quickly." />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <script defer src="/javascript/websocket.js"></script>
    <title>Convert fanfictions to .epub</title>
    
</head>
<body>
    <hr id="loading">
    <div id="container">
        <%- include("../partials/header") %> 
    <br>
    <%- body %> 
    </div>
    <a href="https://ff2ebook.com"></a>
    <a href="https://fanfiction.net"></a>
</body>
</html>